@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        background: theme('colors.card');
        border: 2px solid;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
